<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let stock">{{ stock.id }}</td>
  </ng-container>

  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef>Ticker</th>
    <td mat-cell *matCellDef="let stock">{{ stock.ticker }}</td>
  </ng-container>

  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Company</th>
    <td mat-cell *matCellDef="let stock">{{ stock.company }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let stock">
      <app-details-btn [routePath]="'/Stocks'" [routeParam]="stock.ticker"></app-details-btn>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
