a {
  font-family: "Space Mono", monospace;
  //font-size: clamp(3rem, 10vw, 10rem);
  color: black;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  max-width: fit-content;
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: white;
}
